.top{
	background	:#0BC;
	height 		:60px;
	float		:top;
	margin-top	:0px;
}
.item{
	margin-left	:60px;

}
.item a{
	padding:0 10px;
	

}
.time{
	float		:right;
	margin-top	:0px;
	margin-right	:20px;
}
